@font-face {
    font-family: 'ARIALROUNDEDMT';
    src: url('../fonts/ARIALROUNDEDMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ARIALROUNDEDMTEXTRABOLD';
    src: url('../fonts/ARIALROUNDEDMTEXTRABOLD.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'ARIALROUNDEDMT', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-family: 'ARIALROUNDEDMT', sans-serif;
}

img{
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* HEADER START */

.site-header {
    background-color: #f4f4f4;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.header-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 0; 
}

.logo {
    margin: 0; 
    display: flex; 
    align-items: center; 
}

.logo img {
    height: 60px;
    margin: 0; 
    padding: 0; 
    display: block; 
}

.search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 20px;
}

.search-bar input {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    padding: 10px;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-bar button img {
    height: 10px;
    width: 10px;
}

.navigation {
    text-align: left;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.navigation ul li {
    display: inline;
    margin-right: 20px;
    position: relative;
}

.navigation ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.navigation ul li a::after {
    content: ' ▼';
    font-size: 12px;
    margin-left: 5px;
}

.navigation ul li a:hover {
    border-bottom: 4px solid #30DA67;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
}

.burger-bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
}




/* HEADER SLUT */


/* LANDING PAGE START */

.textbox {
    display: flex;
    justify-content: space-between;
    width: 100%;
 
}

.intro {
    font-family: 'Arial Rounded MT', sans-serif;
    margin-bottom: 0;
    font-size: 40px;
    text-align: left;
}

.liste {
    font-family: 'Arial Rounded MT', sans-serif;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    font-size: 16px;
}

.liste li {
    margin-top: 20px;
    margin-bottom: 10px;
}

.green {
    color: #30DA67;
}

.flue{
    color: #30DA67;
}

.happy{
    display: inline-block;
    margin-left: 10rem;

}

.right-content {
    position: relative;
    margin-right: 50px;
}

.left-content {
    width: 50%; 
    margin-left: 50px;
}



.top-image {
    top: 0;
    position: absolute;
    left: 0;
    max-width: 100px;
 
}

.rto {
    width: 270px;
    height: 60px;
    background-color: #008A16;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 10px; /* Dette vil give knappen afrundede hjørner */
    cursor: pointer;
    margin-top: 20px;
}

/* LANDING PAGE SLUT */


.form-container {
    font-family: 'ARIALROUNDEDMT', sans-serif;
    background-image: url("../billeder/bg.png");
    background-size: cover;
    display: flex;
    justify-content: center;   
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
}

.form-container > form{
    max-width: 600px;
    background: white;
    padding: 3rem;
    border-radius: 10px
}


.lov {
    line-height: 1.5; 
}

  
.form-field {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Tilføjet denne linje */
}

  
  .form-submit {
    width: 100%;
    margin-top: 3rem;
    padding: 0; 
    background: #008A16;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
    line-height: 61px; 
    cursor: pointer;
}

.links{
    color: #6F12E4 ;
    text-decoration: underline;
}

textarea {
    resize: vertical;
}


input[type='radio'] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid darkgray;
    border-radius: 50%; /* Gør knapperne runde */
    outline: none;
    box-shadow: 0 0 5px gray;
    transition: box-shadow 0.5s ease;
    cursor: pointer;
}

input[type='radio']:checked {
    box-shadow: 0 0 5px #3DCD58;
    border-radius: 50%; 
}

input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 100%; 
}

input[type='radio']:checked:before {
    background: #3DCD58;
    border-radius: 100%; 
}

/* FORM SLUT */

/* FOOTER */

.site-footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #444;
    padding-bottom: 20px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 15px; /* Øg mellemrummet endnu mere */
    font-size: 14px;
    cursor: pointer;
}

.footer-column ul li:hover {
    text-decoration: underline;
}

.footer-column .arrow {
    color: green;
    margin-left: 5px;
}

.footer-subscription {
    text-align: left;
    padding: 20px 0;
    max-width: 1200px; /* Sæt en breddebegrænsning */
}

.footer-subscription .subscription-header {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer-subscription form {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.footer-subscription input[type="email"],
.footer-subscription input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
}

.footer-subscription button {
    padding: 10px 20px;
    background-color: #008A16;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.footer-subscription button:hover {
    background-color: #008A16;
}


.footer-subscription .subscription-text {
    font-size: 12px;
    color: #ccc;
    margin-top: 10px;
    line-height: 1.5; /* Sæt linjeafstand for bedre læsbarhed */
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.footer-legal a {
    color: #ccc;
    font-size: 12px;
    margin-right: 10px;
    text-decoration: none;
}

.footer-legal a:hover {
    text-decoration: underline;
}

.footer-social a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.footer-logo img {
    height: 40px;
}

.footer-social-impact {
    display: flex;
    flex-direction: column; /* Stacked vertically */
    align-items: center;
}

.footer-social {
    margin-top: 30px; /* Add margin to position 30px below the Impact logo */
    display: flex;
    gap: 10px; /* Adjust gap between social icons */
}

.impact-logo img {
    height: 40px;
}


/* FOOTER SLUT */

/* CHAT BOT START */

body {
    font-family: Arial, sans-serif;
}

.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.chat-popup, .chat-window {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    max-width: 90%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
}

.chat-header span {
    font-weight: bold;
}

.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.chat-body, .chat-messages {
    padding: 10px;
    flex-grow: 1;
}

.start-chat-btn, .login-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.start-chat-btn:hover, .login-btn:hover {
    background-color: #45a049;
}

.chat-options ul {
    list-style: none;
    padding: 0;
}

.chat-options ul li {
    margin: 10px 0;
}

.chat-options ul li a {
    text-decoration: none;
    color: #007BFF;
}

.chat-options ul li a:hover {
    text-decoration: underline;
}

.order-inquiry {
    margin-top: 20px;
    font-size: 14px;
}

.chat-messages {
    max-height: 300px;
    overflow-y: auto;
}

.message {
    margin-bottom: 10px;
}

.message-sender {
    font-weight: bold;
}

.message-text {
    background-color: #e9e9e9;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    max-width: 80%;
}

.user-message .message-text {
    background-color: #d1ecf1;
}

.user-message .message-sender {
    text-align: right;
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

#chat-input-field {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#send-chat-btn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#send-chat-btn:hover {
    background-color: #45a049;
}


@media screen and (max-width: 1110px) {
    .navigation {
        display: none;
    }

    .burger-menu {
        display: flex;
    }

    .navigation.open {
        display: block;
    }
}



@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .left-content{
        width: 100%;
        margin-top: 20px;
    }
    .content {
        flex-direction: column;
        align-items: flex-start;
    }

    .textbox {
        flex-direction: column;
        width: 100%;
    }

    .right-content{
        margin-top: 20px;
        width: 100%;
    }
    .top-image{
        width: 100%;
    }

    .site-footer .footer-top {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-column {
        width: 100%;
        margin-bottom: 20px;
    }
    .form-container
    {
        width: 100%;
        
    }

    .footer-top {
        flex-direction: column;
    }
    
    .footer-column {
        margin-bottom: 20px;
    }
    
    .footer-subscription {
        padding: 10px;
    }
    
    .footer-subscription form {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .footer-subscription input[type="email"],
    .footer-subscription input[type="text"],
    .footer-subscription button {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .footer-social-impact {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .chat-popup, .chat-window {
        width: 90%;
        bottom: 60px;
    }
    
    .chat-input {
        flex-direction: column;
    }
    
    #chat-input-field {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .start-chat-btn, .login-btn {
        width: 100%;
    }
    


}
